{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends":[
        "eslint:recommended"
    ],
    "rules": {
        "no-undef":

    },

    "rules":{
        "prefer-const":"warn" ,
        "camelcase":"warn" ,
        "quotes":[1]

    }
}